body {
    background-color: gray;
    font-family:Arial, Helvetica, sans-serif;
}

.tile {
    background-color: black;
    cursor:pointer;
}

.active {
    background-color: rgb(85, 47, 85);
}

.wrapper {
    display:grid;
    gap: 10px;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px);
    
}