body {
    background-image: url(/IMG/background.jfif);
    font-family:Arial, Helvetica, sans-serif;
    background-repeat: repeat;
    background: fill;
 }

.tile {
    background-color: black;
    cursor:pointer;
}

.active {
    background-image: url(/IMG/image-placeholder-title.jpg);
    background-size: contain;
}

.wrapper {
    margin-left: 600px;
    display:grid;
    gap: 10px;
    grid-template-columns: repeat(5,100px);
    grid-template-rows: repeat(5,100px);
    grid-area: content;
    
}

.box {
    background-color: blue;
}


.tower {
    background-color: red;
    text-decoration: none;
    color: gray;
}

.strikes {
    background-color:gray;
    text-decoration: none;
    color: gray;
}

.sidebar {
position: fixed;
background: transparent;
width: 200px;
height: 100%;
top: 0;
left: 0;
z-index: 1;
grid-area: sidebar; 
background-color: gray;
}


.header {
    grid-area: header;
}

button {
    background-color: rgb(114, 170, 114);
    color: white;
}

.life1,.life2,.life3 {
    padding: 90px;
}

.hit {
    background-image: url(/IMG/mistake.jfif);
    background-size: contain;
    background-repeat: no-repeat;
}